<nz-layout class="layout">
  <nz-header>
    <div class="logo">loopback-next-admin</div>
    <ul nz-menu [nzMode]="'horizontal'" style="float : right">
      <li nz-submenu style="margin : 0">
        <span title><i nz-icon type="setting"></i>Aymen</span>
        <ul>
          <li nz-menu-group>
            <span title>Account</span>
            <ul>
              <li nz-menu-item> {{me.email}}</li>
              <li nz-menu-item (click)="onLogout()">Logout</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Admin</span>
            <ul>
              <li nz-menu-item>Settings</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">

        <ng-container *ngFor="let menu of menus">
          <li nz-submenu *ngIf="menu.chields">
            <span title><i nz-icon [type]="menu.iconType"></i>{{menu.text}}</span>
            <ul>
              <li *ngFor="let chieldMenu of menu.chields" nz-menu-item>{{chieldMenu.text}}</li>
            </ul>
          </li>
          <li *ngIf="!menu.chields" class="menu-item"><i nz-icon [type]="menu.iconType"></i>{{menu.text}}</li>
        </ng-container>



        <!-- <li nz-submenu>
          <span title><i nz-icon type="user"></i>User</span>
          <ul>
            <li nz-menu-item>Logout</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="laptop"></i>Content</span>
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="notification"></i>Modules</span>
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li> -->
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item *ngFor="let item of breadcrumb">{{item}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 500px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
